body{
    height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    position: relative;
    height: 400px;
    width: 400px;
    background-color: #2c3e50;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.edges{
    position: absolute;
    z-index: 10;
    width: 160px;
    height: 160px;
}

.edge{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.edge.t{
    top: 0;
    left: 0;
    border-width: 80px 80px 80px 80px;
    border-color: #3f91c7  transparent transparent transparent;
    animation: edge-t 1.5s ease-out infinite alternate;
}

.edge.l{
    top: 0;
    left: 0;
    border-width: 80px 80px 80px 80px;
    border-color:  transparent transparent transparent #3289c3 ;
    animation: edge-l 1.5s ease-out infinite alternate;
}

.edge.r{
    top: 0;
    left: 0;
    border-width: 80px 80px 80px 80px;
    border-color:  transparent #2b82bb  transparent transparent ;
    animation: edge-r 1.5s ease-out infinite alternate;
}

.edge.b{
    top: 0;
    left: 0;
    border-width: 80px 80px 80px 80px;
    border-color:  transparent  transparent #2578ae transparent ;
    animation: edge-b 1.5s ease-out infinite alternate;
}

/* animaciones edges */

@keyframes edge-t{
    0%,20%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-180px);
    }
}

@keyframes edge-b{
    0%,20%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(180px);
    }
}

@keyframes edge-l{
    0%,20%{
        transform: translateY(0);
    }
    100%{
        transform: translateX(-180px);
    }
}

@keyframes edge-r{
    0%,20%{
        transform: translateY(0);
    }
    100%{
        transform: translateX(180px);
    }
}

/* animaciones edges */


.elements{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 185px;
    left: 185px;
}

.square{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
}

.square.small{
    width: 10px;
    height: 10px;
    top: 10px;
    left: 10px;
}

.square .big{
    width: 30px;
    height: 30px;
    top: 0px;
    left: 0px;
}

 .c1{
    background-color: #f39c12;
 }

 .c2{
    background-color: #e67e22;
 }

 .square1{
    animation: square1 1.5s ease-out infinite alternate;
 }

 .square2{
    animation: square2 1.5s ease-out infinite alternate;
 }

 /* Animacion square */

 @keyframes square1 {
    0%,20%{
        transform:  scale(0) translate(0) rotate(0);
    }
    100%{
        transform:  scale(1) translate(66px, 78px) rotate(110deg);
    }
 }

 @keyframes square2 {
    0%,20%{
        transform:  scale(0) translate(0) rotate(0);
    }
    100%{
        transform:  scale(1) translate(46px, -141px) rotate(170deg);
    }
 }


 /* Animacion square */


 .circle{
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    top: 5px;
    left: 5px;
 }


 .circle .small{
    width: 10px;
    height: 10px;
    border-width: 2px;
    top: 10px;
    left: 10px;
 }

 .circle .big{
    width: 30px;
    height: 30px;
    border-width: 8px;
    top: 0;
    left: 0;
 }


 .circle.c1{
    border-color: #f39c12;
 }

 .circle.c3{
    border-color: #1abc9c;
 }

 .circle1{
    animation: circle1 1.5s ease-out infinite alternate;
 }

 .circle2{
    animation: circle2 1.5s ease-out infinite alternate;
 }

 @keyframes circle1{
    0%,20%{
        transform:  scale(0) translate(0) rotate(0);
    }
    100%{
        transform:  scale(1) translate(-66px, 132px) ;
    }
 }
 

 @keyframes circle2{
    0%,20%{
        transform:  scale(0) translate(0) rotate(0);
    }
    100%{
        transform:  scale(1) translate(15px, 80px) ;
    }
 }